bower_components/
backend/cache/
backend/sdbapi-stubs/
node_modules/
build/
dist/
.sass-cache
.gradletasknamecache

.gradle
.sonar/

logs/
*.log
*.error

idea
.idea
*.iws
*.iml
*.ipr

.DS_Store
.classpath

target
bin

work/

db-unpacked/

feature-toggle.properties

kronis.sh
